*{
  margin: 0px;
  padding: 0px;
    box-sizing: border-box;
}

body{
    background-color: #8bdcd0;  
}

.heading{
      height: 650px;
       border: 1px solid black;
          display: flex;
            justify-content: center;
              align-items: center;

}

  .inner{
    border: 1px solid black;
          height: 60px;
            padding: 12px;
               background-color: #51c1e3;
  }